* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
ul {
  list-style: none;
}

#root {
  width: 470px;
}
header {
  width: 100%;
  margin-top: 54px;
  text-align: center;
}

header h1 {
  margin: 14px 0;
}
main > section:first-child {
  background-color: #ccc;
}

main > section:last-child {
  position: fixed;
  width: 470px;
  bottom: 16px;
}

/* 함수에 클래스로 스타일 적용시키기 */
/* 아이콘 */
.icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  /* background-color: #ccc; */
}
.chatIcon {
  background-color: #ccc;
}
.sayIcon {
  background-color: #aaa;
}
.againIcon {
  background-color: none;
}
/* 말풍선 */
.bubble{
  display: block;
}
/* 채팅 위치 */
.chat {
  display: flex;
  flex-direction: row;
}
.say {
  display: flex;
  flex-direction: row-reverse;
}

/* 캐릭터의 색상 지정 */
.one {
  background-color: chocolate;
}
.two {
  background-color: darkcyan;
}
.three {
  background-color: darkgreen;
}
.four {
  background-color: dodgerblue;
}